body {
  display: flex;
  justify-content: center;
  font-family: arial, sans-serif;
  font-size: 1rem;
}

a {
  min-width: 40px;
  min-height: 40px;
}

h1 {
  font-size: 1.3em;
}

ul {
  list-style: none;
  padding: 0;
}

#addText {
  box-sizing: border-box;
  width: 100%;
  border: 0;
  outline: none;
}

.listWrapper {
  text-align: left;
  box-shadow: 0 0 13px 1px rgba(0, 0, 0, 0.28);
  max-width: 100%;
  min-width: 330px;
  padding: 10px;
}

input::placeholder {
  font-style: italic;
}

.task {
  display: flex;
  align-items: center;
  border-top: 1px solid grey;
}

.task-done {
  text-decoration: line-through !important;
}

li p {
  overflow: auto;
}

.manageTask {
  position: sticky;
  left: 100%;
  min-width: 80px;
  min-height: 40px;
  display: flex;
}

.vertical-button {
  margin-left: auto;
  min-width: 40px;
  min-height: 40px;
  background-image: url('./assets/dots.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
}

.edit-button {
  width: 40px;
  min-height: 40px;
  background-image: url('./assets/edit.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
}

.delete-button {
  width: 40px;
  min-height: 40px;
  background-image: url('./assets/trash.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35px;
}

.off {
  display: none !important;
}

#clear-button {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 3px;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}
